<!-- section about start -->
<div class="section" id="section1">
    <!-- section title start -->
    <div class="section-title-vertical">
        <span>A Propos</span>
    </div><!-- section title end -->
    <!-- container start -->
    <div class="container-fluid sections">
        <!-- row start -->
        <div class="row">
            <!-- col start -->
            <div class="col-md-6 col-sm-6 nopadding">
                <!-- slick left about start -->
                <div class="slick-left-about overlay overlay-inverse-dark-35">
                    <!-- slick left about item img start -->
                    <div class="img-fullwidth-wrapper">
                        <div class="img-fullwidth img-fullwidth-all img-fullwidth-about-carousel"></div>
                    </div><!-- slick left about item img end -->
                </div><!-- slick left about end -->
            </div><!-- col end -->
            <!-- col start -->
            <div class="col-md-6 col-sm-6 nopadding">
                <!-- slick right about start -->
                <div class="slick-right-about">
                    <!-- about content 1 start -->
                    <div class="img-fullwidth-wrapper">
                        <div class="about-content">
                            <div class="about-content-inner">
                                <!-- main txt start -->
                                <div class="height-correction">
                                    <div class="text-title">
                                        <h4>
                                            Qui je suis
                                        </h4>
                                    </div>
                                    <div class="text-txt">
                                        <p>
                                            {{ about.text }}
                                        </p>
                                    </div>
                                </div><!-- main txt end -->
                            </div>
                        </div>
                    </div><!-- about content 1 end -->
                </div><!-- slick right about end -->
            </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section about end -->