{% extends 'base.html.twig' %}

{% block body %}
<!-- fullPage start -->
<div id="fullpage">
    {% include 'index/home.html.twig' %}

    {% include 'index/about.html.twig' %}
        
    {% include 'index/works.html.twig' %}
        
    {% include 'index/news.html.twig' %}

    {% include 'index/contact.html.twig' %}
</div><!-- fullPage end -->
{% endblock %}
