<!-- preloader start -->
<div class="preloader-bg"></div>
<div id="preloader">
    <div id="preloader-status">
        <div class="preloader-position loader">
            <span></span>
        </div>
    </div>
</div>
<!-- preloader end -->
<!-- logo start -->
<a class="logo logo-light">
    <div class="logo-img fadeIn-element"></div>
</a>
<!-- logo end -->
<!-- navigation start -->
<div class="navigation-fire main-menu main-menu-light fadeIn-element">
    <span></span>
</div>
<nav class="navigation-menu">
    <!-- center container menu start -->
    <div class="center-container-menu">
        <!-- center block menu start -->
        <div class="center-block-menu">
            <ul class="brackets">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a class="menu-state" href="{{ path('admin_works') }}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a class="menu-state active" href="#home">Accueil</a>
                </li>
                <li>
                    <a class="menu-state" href="#about">A Propos</a>
                </li>
                <li>
                    <a class="menu-state" href="#works">Works</a>
                </li>
                <li>
                    <a class="menu-state" href="#news">News</a>
                </li>
                <li class="last">
                    <a class="menu-state" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- center block menu end -->
    </div>
    <!-- center container menu end -->
</nav>
<!-- navigation end -->